.circle {
    fill: green;
  }
  .rectangle {
    fill: red;
    stroke: blue;
    stroke-width:20px
  }
  .line {
    stroke: black;
    stroke-width: 10px
    
  }
  .poly {
    
    stroke: blue;
    stroke-width: 5px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;

  }
  @keyframes move {
    from {
      fill: red;
    }
    to {
      fill: green;
    }
  }